/* project.css */

html,body {
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    font-family: Arial, "Times New Roman", Times, serif;
    font-style: normal; 
    font-size: 14pt;
}

* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*
 #####   #           #      #####    #####   ###   #####   
#     #  #          # #    #     #  #     #   #   #     #  
#        #         #   #   #        #         #   #        
#        #        #     #   #####    #####    #   #        
#        #        #######        #        #   #   #        
#     #  #        #     #  #     #  #     #   #   #     #  
 #####   #######  #     #   #####    #####   ###   #####   


#           #     #     #  #######  #     #  #######  
#          # #     #   #   #     #  #     #     #     
#         #   #     # #    #     #  #     #     #     
#        #     #     #     #     #  #     #     #     
#        #######     #     #     #  #     #     #     
#        #     #     #     #     #  #     #     #     
#######  #     #     #     #######   #####      #     


 #####    #####    #####   
#     #  #     #  #     #  
#        #        #        
#         #####    #####   
#              #        #  
#     #  #     #  #     #  
 #####    #####    #####   
*/

.wrapper {
    height: 100%;
    width: 100%;
    display: table;
    text-align: left;
}

.header {
    width: 100%;
    height: 75px;
    display: table-row;
    background-color: #aaaaaa;
}

.main {
    height: 100%;
    width: 100%;
    display: table;
}

.box {
    display: table-cell;
    vertical-align: text-top;
}

.sidebar {
    width: 225px;
    background-color: #cccccc;
    border: 1px;
    border-top-style: solid;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: solid;
}

.content {
           /* top right bottom left*/
    padding: 10px 10px 10px 10px;  /* do not change */
    background-color: #ffffff;
    border: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
}

.footer {
    display: table-row;
    height: 1px;
    background-color: #aaaaaa;
}

/*
#        #######  #######  #######  
#        #        #           #     
#        #        #           #     
#        #####    #####       #     
#        #        #           #     
#        #        #           #     
#######  #######  #           #     


#     #     #     #     #  
##    #    # #    #     #  
# #   #   #   #   #     #  
#  #  #  #     #  #     #  
#   # #  #######   #   #   
#    ##  #     #    # #    
#     #  #     #     #     
*/

#leftMenu {
    padding: 0px 10px 10px 10px;
    /*background-color: #999999;*/
}

#leftMenu .accordion-group {
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    margin: 0px 0px 5px 0px;
    height: 1.0em;
    list-style-type:none;
}  

.accordion-inner ul {
    list-style-type: none;
}

.accordion-inner li {
    margin: 0px 0px 5px 15px;
    list-style-type: none;
    height: 1.0em;
}  

#leftMenu .accordion-heading  a{  
    color: #000000;
    text-decoration:none;
}

#leftMenu .accordion-heading  a:hover{  
    color:#ff0000;
}

#leftMenu .accordion-heading .active {
}

/*
#     #  ###   #####    #####   
##   ##   #   #     #  #     #  
# # # #   #   #        #        
#  #  #   #    #####   #        
#     #   #         #  #        
#     #   #   #     #  #     #  
#     #  ###   #####    #####   
*/

.form-inline .form-group input {
    width: auto; 
}


.btn-1em {
    height: 1.0em;
    width: 1.0em;
}
