/* project.css */

html,body {
    height: 100%;  /* Allow browser to calculate full height */
    width: 100%;   /* Allow browser to calculate full width */
    background-color: #ffffff;  
    font-family: Arial, "Times New Roman", Times, serif;
    font-style: normal; 
    font-size: 14pt; /* 12pt to 24pt tested */
}

body {
    /*
       This is needed if you have navbar-fixed-top 
    */
    padding-top: 60px;   
}

.form-inline .form-group input {
    width: auto; 
}


.btn-1em {
    height: 1.0em;
    width: 1.0em;
}
