/* project.css 
    https://css-tricks.com/snippets/css/named-colors-and-hex-equivalents/
*/

html,body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #eeeeee;
}

thead.fjt-yellow th {
    background-color: #ffffaa
}

.btn-1em {
    height: 1.0em;
    width: 1.0em;
}

.wrapper {
    height: 100%;
}

.topRow {
    height: 50px;
}

.middleRow {
    height: calc(100% - 100px);
}

.bottomRow {
    height: 50px;
}

#bottomLayout {
    /*      Top Right Bottom Left */ 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 50px;
    background: bisque;
}

#topLayout {
    /*      Top Right Bottom Left */ 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 50px;
    background: pink;
}

#leftLayout {
    /*      Top Right Bottom Left */ 
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 100%;
    background: yellow;
}

#rightLayout {
    /*      Top Right Bottom Left */ 
    margin: 0px 0px 0px 0px;
    padding: 10px 10px 10px 10px;
    height: 100%;
    background: white;
}

.form-inline .form-group input {
    width: auto; 
}

.align-middle {
    vertical-align: middle;
}

#leftMenu {
    margin-top: 5px;
}

#leftMenu .accordion-group {
    margin-bottom: 0px;
    border:0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}    

#leftMenu .accordion-heading {
    height: 24px;
    list-style-type:none;
}  

#leftMenu .accordion-heading  a{  
    text-decoration:none;
    font-weight:bold;
}

#leftMenu .accordion-heading  a:hover{  
    color:#ff0000;
}

#leftMenu .accordion-heading .active {
    height: 24px;
}